<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd">

    <localRepository>${user.home}/.m2/repository</localRepository>
    <!--localRepository>${java.io.tmpdir}/.m2/repository</localRepository-->
    <!--localRepository>/maven-repositories/${user.name}</localRepository -->
    <!--localRepository>//NETWORK/DRIVE</localRepository -->

    <interactiveMode>true</interactiveMode>
    <offline>false</offline>

    <!-- <proxies> -->
    <!--     <proxy> -->
    <!--         <active>false</active> -->
    <!--         <id>local-proxy</id> -->
    <!--         <protocol>http</protocol> -->
    <!--         <host>localhost</host> -->
    <!--         <port>7998</port> -->
    <!--         <username>tommy</username> -->
    <!--         <password>...</password> -->
    <!--         <nonProxyHosts>localhost|host1|*.domain</nonProxyHosts> -->
    <!--     </proxy> -->
    <!-- </proxies> -->

    <servers>
        <server>
            <id>central</id>
            <configuration>
                <connectionTimeout>15000</connectionTimeout>
                <readTimeout>15000</readTimeout>
            </configuration>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>central</id>
            <name>central</name>
            <url>https://repo.maven.apache.org/maven2</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>

    <profiles>
        <!-- <profile> -->
        <!--     <id>maven-central</id> -->
        <!--     <activation> -->
        <!--         <activeByDefault>true</activeByDefault> -->
        <!--     </activation> -->
        <!--     <repositories> -->
        <!--         <repository> -->
        <!--             <id>maven-central</id> -->
        <!--             <name>maven-central</name> -->
        <!--             <url>http://central</url> -->
        <!--             <releases> -->
        <!--                 <enabled>true</enabled> -->
        <!--                 <updatePolicy>daily</updatePolicy> -->
        <!--                 <checksumPolicy>fail</checksumPolicy> -->
        <!--             </releases> -->
        <!--             <snapshots> -->
        <!--                 <enabled>true</enabled> -->
        <!--                 <updatePolicy>daily</updatePolicy> -->
        <!--                 <checksumPolicy>fail</checksumPolicy> -->
        <!--             </snapshots> -->
        <!--         </repository> -->
        <!--     </repositories> -->
        <!-- </profile> -->
    </profiles>

    <!-- <activeProfiles> -->
    <!--     &lt;!&ndash; Order define the Query-Order &ndash;&gt; -->
    <!--     <activeProfile>maven-central</activeProfile> -->
    <!-- </activeProfiles> -->
</settings>
